:root {
  --white: #fff;
  --white-darkened: #EADEED;
  --black: #000;
  --purple: #840AA3;
  --dark-purple: #6C0287;
  --bold-purple: #440F51;
  --light-purple: #CD06FF;
  --violet: #640AA3;
  --dark-grey: #1b1a1b;
  --light-black: #211E1E;
  --grey: #1C1A1A;
  --review-gradient: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 15%, rgba(108, 2, 135, 0.50) 100%);
  --footer-gradient: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}