.header__container-room-margin {
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .header__container-room-margin {
    margin-bottom: 52px;
  }
}

@media (max-width: 900px) {
  .header__container-room-margin {
    margin-bottom: 43px;
  }
}

@media (max-width: 320px) {
  .header__container-room-margin {
    margin-bottom: 20px;
  }
}